/* Navbar Styles */
.navbar {
    background: linear-gradient(to right, #2a57b9, #7c3aed);
    padding: 1rem;
    box-shadow: 0px 4px 10px rgba(168, 78, 78, 0.1);
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .logo {
    font-size: 1.8rem;
    font-weight: bold;
    color: rgb(247, 243, 243);

  }

  
  .nav-links {
    display: flex;
    gap: 1.5rem;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s ease-in-out;
  }
  
  .nav-links a:hover {
    color: #941712;
  }
  .drive{
    height: 120px;
    width: 140px;
    border-radius: 50%;
  }
  
  .login-btn {
    background: rgb(224, 220, 220);
    color: #2563eb;
    padding: 0.5rem 1.2rem;
    border-radius: 50px;
    font-weight: bold;
    transition: background 0.3s ease-in-out;
    text-decoration: none;
  }

 
  
  .login-btn:hover {
    background: #7c7e81;
  }
  
  .menu-icon {
    display: none;
    background: none;
    border: none;
    color: white;
  }
  
  .mobile-menu {
    display: none;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .nav-links, .login-btn {
      display: none;
    }
  
    .menu-icon {
      display: block;
    }
  
    .mobile-menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      background: #2cd40a;
      padding: 1rem;
      position: absolute;
      width: 100%;
      top: 60px;
      left: 0;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    }
  
    .mobile-menu a {
      color: white;
      padding: 0.5rem 0;
      text-align: center;
      transition: color 0.3s;
      text-decoration: none;
    }
  
    .mobile-menu a:hover {
      color: #51d8d1;
    }
  }
  